sources/WCSF2010/Trunk/Source/GlobalBankRI/Source/EFT/EFT.ServiceProxies/Web References/AccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="http://GlobalBankServices.ServiceContracts/2006/11/IAccountService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://GlobalBankServices.ServiceContracts/2006/11" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://GlobalBankServices.ServiceContracts/2006/11" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://GlobalBankServices.ServiceContracts/2006/11/IAccountService">
      <s:element name="getAccountsRequest" nillable="true" type="s0:GetAccountRequestType" />
      <s:complexType name="GetAccountRequestType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAccountsResult" nillable="true" type="s0:GetAccountResponseType" />
      <s:complexType name="GetAccountResponseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userAccounts" type="s0:ArrayOfAccountTableEntityType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAccountTableEntityType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountTableEntityType" nillable="true" type="s0:AccountTableEntityType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountTableEntityType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ownerId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="createAccountRequest" nillable="true" type="s0:CreateAccountRequestType" />
      <s:complexType name="CreateAccountRequestType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="account" type="s0:AccountTableEntityType" />
        </s:sequence>
      </s:complexType>
      <s:element name="processTransfersRequest" nillable="true" type="s0:ProcessTransfersRequestType" />
      <s:complexType name="ProcessTransfersRequestType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="accountsToProcess" type="s0:ArrayOfTransferTableEntry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransferTableEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransferTableEntry" nillable="true" type="s0:TransferTableEntry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransferTableEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sourceAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sourceAccountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="destinationAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="destinationAccountName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactionid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessTransfersResult" nillable="true" type="s0:ProcessTransfersResponseType" />
      <s:complexType name="ProcessTransfersResponseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="processedAccounts" type="s0:ArrayOfTransferTableEntry" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountsSoapIn">
    <wsdl:part name="getAccountsRequest" element="s0:getAccountsRequest" />
  </wsdl:message>
  <wsdl:message name="GetAccountsSoapOut">
    <wsdl:part name="GetAccountsResult" element="s0:GetAccountsResult" />
  </wsdl:message>
  <wsdl:message name="CreateAccountSoapIn">
    <wsdl:part name="createAccountRequest" element="s0:createAccountRequest" />
  </wsdl:message>
  <wsdl:message name="CreateAccountSoapOut" />
  <wsdl:message name="ProcessTransfersSoapIn">
    <wsdl:part name="processTransfersRequest" element="s0:processTransfersRequest" />
  </wsdl:message>
  <wsdl:message name="ProcessTransfersSoapOut">
    <wsdl:part name="ProcessTransfersResult" element="s0:ProcessTransfersResult" />
  </wsdl:message>
  <wsdl:portType name="QuoteService">
    <wsdl:operation name="GetAccounts">
      <wsdl:input message="tns:GetAccountsSoapIn" />
      <wsdl:output message="tns:GetAccountsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input message="tns:CreateAccountSoapIn" />
      <wsdl:output message="tns:CreateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessTransfers">
      <wsdl:input message="tns:ProcessTransfersSoapIn" />
      <wsdl:output message="tns:ProcessTransfersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QuoteService" type="tns:QuoteService">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" />
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccounts">
      <soap:operation soapAction="http://GlobalBankServices/2006/06/GetAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://GlobalBankServices/2006/06/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessTransfers">
      <soap:operation soapAction="http://GlobalBankServices/2006/06/ProcessTransfers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QuoteService1" type="tns:QuoteService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccounts">
      <soap12:operation soapAction="http://GlobalBankServices/2006/06/GetAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap12:operation soapAction="http://GlobalBankServices/2006/06/CreateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessTransfers">
      <soap12:operation soapAction="http://GlobalBankServices/2006/06/ProcessTransfers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="QuoteService" binding="tns:QuoteService">
      <soap:address location="http://localhost:3053/GlobalBankServices/AccountService.asmx" />
    </wsdl:port>
    <wsdl:port name="QuoteService1" binding="tns:QuoteService1">
      <soap12:address location="http://localhost:3053/GlobalBankServices/AccountService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>